//>>>>> Header Top Start <<<<<//
.header-top-section {
	position: relative;
	background: var(--bg-color);
	padding: 10px 0;
	.sub-header-wrapper {
		.call-icon {
			font-size: 13px;
			color: var(--black-clr);
			font-weight: 500;
			i {
				color: var(--theme-clr);
			}
		}
		.right-top-cont {
			gap: 20px;
			.nice-select {
				padding-right: 16px;
				.current {
					color: var(--black-clr);
					font-weight: 500;
					font-size: 14px;
				}
				&::after {
					border-bottom: 2px solid var(--icon-clr);
					border-right: 2px solid var(--icon-clr);
				}
				.list {
					width: 130px;
				}
			}
			.seller-text {
				font-size: 14px;
				font-weight: 500;
				color: var(--black-clr);
			}
		}
	}
	@include breakpoint(max-sm) {
		.sub-header-wrapper {
			flex-wrap: wrap;
			justify-content: center !important;
			.right-top-cont {
				gap: 16px;
			}
		}
	}
}

//Search Header
.search-header-section {
	padding: 10px 0;
	.search-header-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.search-box {
			width: 550px;
			margin: 0 auto;
			border-radius: 5px;
			border: 1px solid rgba(185, 185, 185, 0.3);
			background: var(--white-clr);
			display: flex;
			align-items: center;
			gap: 10px;
			padding-left: 14px;
			form {
				width: 100%;
				display: flex;
				align-items: center;
				input {
					width: 100%;
					height: 45px;
					font-size: 14px;
					color: var(--paragraph-clr);
					border: unset;
					padding: 8px;
				}
				::placeholder {
					color: var(--paragraph-clr);
				}
				button {
					height: 45px;
					width: 64px;
					border-radius: unset;
					background: var(--theme-clr);
					overflow: hidden;
					border-top-right-radius: 4px;
					border-bottom-right-radius: 4px;
					i {
						color: var(--white-clr);
					}
				}
			}
			.search-category {
				border-right: 0.5px solid #b9b9b9;
				padding-right: 12px;
				i {
					color: var(--paragraph-clr);
				}
				.nice-select {
					padding-right: 13px;
					.list {
						width: 230px;
						max-height: initial;
						li {
							padding: 8px 11px;
						}
					}
					.current {
						opacity: 1;
						color: var(--paragraph-clr);
						font-size: 14px;
					}
					&::after {
						right: 0;
						border-bottom: 2px solid var(--paragraph-clr);
						border-right: 2px solid var(--paragraph-clr);
					}
				}
			}
		}
	}
}

//Header Section
.header-section {
	border-top: 1px solid rgba(185, 185, 185, 0.4);
	border-bottom: 1px solid rgba(185, 185, 185, 0.4);
	background: var(--white-clr);
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.02);
}
.header-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	.sixvalley-category-adjust {
		background: var(--theme-clr);
		padding: 19px 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		i {
			color: var(--white-clr);
		}
		.nice-select {
			padding-right: 30px;
			.list {
				width: 250px;
				max-height: initial;
				li {
					text-transform: uppercase;
					font-size: 14px;
					padding: 12px 14px;
					border-bottom: unset;
				}
			}
			.current {
				text-transform: uppercase;
				font-size: 13px;
				color: var(--white-clr);
			}
			&::after {
				top: 13px;
				border-bottom: 2px solid var(--white-clr);
				border-right: 2px solid var(--white-clr);
			}
		}
	}
	.main-menu {
		display: grid;
		gap: 10px;
		li {
			.sub-menu {
				background: var(--white-clr);
				border-radius: 10px;
				padding: 12px;
				z-index: 9;
				width: 200px;
				box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
				li {
					a {
						font-size: 12px;
						font-weight: 500;
						color: var(--black-clr);
						padding: 7px 0;
						display: block;
						&:hover {
							padding-left: 4px;
							color: var(--theme-clr);
						}
					}
					&:not(:last-child) {
						border-bottom: 1px solid rgba(185, 185, 185, 0.3);
					}
				}
			}
		}
		@include breakpoint(xl) {
			li {
				.sub-menu {
					position: absolute;
					top: 100%;
					left: 0;
					background: var(--white-clr);
					border-radius: 10px;
					padding: 12px;
					z-index: 9;
					width: 200px;
					box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
					transform: translateY(20px);
					opacity: 0;
					visibility: hidden;
					transition: all 0.5s;
					li {
						a {
							font-size: 12px;
							font-weight: 500;
							color: var(--black-clr);
							padding: 7px 0;
							display: block;
							&:hover {
								padding-left: 4px;
								color: var(--theme-clr);
							}
						}
						&:not(:last-child) {
							border-bottom: 1px solid rgba(185, 185, 185, 0.3);
						}
					}
				}
				a {
					font-size: 13px;
					font-weight: 600;
					color: var(--black-clr);
					text-transform: uppercase;
					transition: all 0.4s;
					&:hover {
						color: var(--theme-clr);
					}
				}
				&:hover {
					.sub-menu {
						transform: translateY(0) !important;
						opacity: 1 !important;
						visibility: visible !important;
					}
				}
			}
		}
	}
	.login-shopping-area {
		display: flex;
		align-items: center;
		gap: 15px;
		li {
			.register {
				font-size: 12px;
				font-weight: 500;
				color: var(--black-clr);
				text-transform: uppercase;
				i {
					color: var(--paragraph-clr);
					font-size: 17px;
				}
			}
			a {
				position: relative;
				.counts {
					width: 15px;
					min-width: 15px;
					height: 15px;
					color: var(--white-clr);
					background: var(--theme-clr);
					font-size: 10px;
					position: absolute;
					right: -7px;
					top: -7px;
				}
			}
		}
		.line {
			height: 22px;
			width: 1px;
			background: rgba(185, 185, 185, 0.5);
		}
		@include breakpoint(max-md) {
			gap: 10px;
		}
	}
	@include breakpoint(xl) {
		.main-menu {
			display: flex;
			align-items: center;
			gap: 20px;
			li {
				a {
					font-size: 13px;
					font-weight: 600;
					color: var(--black-clr);
					text-transform: uppercase;
				}
			}
		}
	}
	@include breakpoint(max-xl) {
		.main-menu {
			background: var(--white-clr);
			padding: 24px 28px;
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
			height: 100%;
			height: 100vh;
			overflow-y: scroll;
			position: fixed;
			left: -290px;
			transition: all 0.5s;
			top: 0;
			flex-direction: column;
			gap: 12px;
			display: flex;
			width: 280px;
			z-index: 999;
			li {
				a {
					color: var(--black-clr);
					font-weight: 600;
				}
				.sub-menu {
					display: none;
				}
			}
			&.active {
				left: 0;
			}
		}
		.login-shopping-area {
			gap: 16px;
			li {
				.register {
					font-size: 12px;
					font-weight: 500;
					color: var(--black-clr);
					text-transform: uppercase;
					i {
						color: var(--paragraph-clr);
						font-size: 17px;
					}
				}
				a {
					position: relative;
					.counts {
						width: 13px;
						min-width: 13px;
						height: 15px;
						font-size: 8px;
						right: -7px;
						top: -7px;
					}
				}
			}
		}
		.browse-category{
			.logo{
				max-width: 120px;
				display: block;
				img{
					width: 100%;
					object-fit: contain;
				}
			}
		}
		.bar-toggle{
			i{
				font-size: 24px;
			}
		}
	}
	@include breakpoint(max-sm) {
		.login-shopping-area {
			gap: 12px;
			li {
				.register {
					font-size: 12px;
					font-weight: 500;
					color: var(--black-clr);
					text-transform: uppercase;
					i {
						color: var(--paragraph-clr);
						font-size: 17px;
					}
				}
				a {
					position: relative;
					.counts {
						width: 13px;
						min-width: 13px;
						height: 15px;
						font-size: 8px;
						right: -7px;
						top: -7px;
					}
				}
			}
			.line {
				display: none;
			}
		}
		.browse-category{
			.logo{
				max-width: 120px;
				display: block;
				img{
					width: 100%;
					object-fit: contain;
				}
			}
		}
		.bar-toggle{
			i{
				font-size: 24px;
			}
		}
	}
}

.bar-toggle {
	i {
		font-size: 20px;
		color: var(--black-clr);
	}
}

//>>>>> Sticky Start <<<<</
.sticky {
	position: fixed !important;
	top: 0 !important;
	left: 0;
	width: 100%;
	z-index: 100;
	transition: all 0.9s;
	-webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
