//flash sale 
.flash-sale-wrapper{
	border-radius: 5px;
	background: var(--white-clr);
	box-shadow: 0px 5px 12px 3px rgba(2, 91, 195, 0.05);
	padding: 30px 0 30px 40px;
	.flash-down-area{
		max-width: 275px;
		h4{
			color: var(--theme-clr);
			font-weight: 600;
		}
		span{
			color: var(--paragraph-clr);
		}
	}
}
//flash sale 