
:root {
    
    --body: #fff;
    --black-clr: #222222;
    --heading-clr: #181615;
    --white-clr: #fff;
    --theme-clr: #1455AC;
    --secondary-clr: #DB3022;
    --icon-clr: #515755;
    --paragraph-clr: #9B9B9B;
    --bg-color: #EDF5FF;

}

