/*------------------------------------------------------------------
Project:        6Valley
Author URI:     https: ..............
Version:        1.1
File:           Css File
Last change:    21/02/2025
Assigned to:    6Valley Best Online Shopping Experience
Primary use:    Online Shopping 
-------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
:root {
  --body: #fff;
  --black-clr: #222222;
  --heading-clr: #181615;
  --white-clr: #fff;
  --theme-clr: #1455AC;
  --secondary-clr: #DB3022;
  --icon-clr: #515755;
  --review-clr: #FFBA49;
  --countdown-clr: #F2F8FB;
  --paragraph-clr: #9B9B9B;
  --bg-color: #EDF5FF;
}

/* --------------------------------------------
    Template Default Fonts & Fonts Styles
 ---------------------------------------------- */
html {
  scroll-behavior: initial !important;
}

body {
  font-family: "Mulish", serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  background-color: var(--white-clr);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

input:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mulish", serif;
  margin: 0px;
  padding: 0;
}

h1 {
  font-size: 60px;
  line-height: 72px;
}
@media (max-width: 1399px) {
  h1 {
    font-size: 50px;
    line-height: 62px;
  }
}
@media (max-width: 1199px) {
  h1 {
    font-size: 42px;
    line-height: 52px;
  }
}
@media (max-width: 991px) {
  h1 {
    font-size: 38px;
    line-height: 48px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 36px;
    line-height: 44px;
  }
}
@media (max-width: 575px) {
  h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

.fs-two,
h2 {
  font-size: 50px;
  line-height: 116%;
}
@media (max-width: 1199px) {
  .fs-two,
  h2 {
    font-size: 42px;
  }
}
@media (max-width: 767px) {
  .fs-two,
  h2 {
    font-size: 36px;
  }
}
@media (max-width: 575px) {
  .fs-two,
  h2 {
    font-size: 28px;
  }
}

h3 {
  font-size: 30px;
  line-height: 130%;
}
@media (max-width: 1399px) {
  h3 {
    font-size: 27px;
  }
}
@media (max-width: 1199px) {
  h3 {
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  h3 {
    font-size: 22px;
  }
}

h4 {
  font-size: 24px;
  line-height: 130%;
}
@media (max-width: 1399px) {
  h4 {
    font-size: 22px;
  }
}
@media (max-width: 1199px) {
  h4 {
    font-size: 20px;
  }
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
  line-height: 145%;
}

.fs-five {
  font-size: 24px !important;
}
@media (max-width: 1199px) {
  .fs-five {
    font-size: 20px !important;
  }
}
@media (max-width: 991px) {
  .fs-five {
    font-size: 19px !important;
  }
}
@media (max-width: 767px) {
  .fs-five {
    font-size: 18px !important;
  }
}

a {
  text-decoration: none;
  outline: none !important;
  cursor: pointer;
}

p {
  margin: 0px;
  font-family: "Mulish", serif;
  font-size: 16px;
  line-height: 25.6px;
}

span {
  font-size: 16px;
  line-height: 25.6px;
  margin: 0px;
}

.fs-eight {
  font-size: 14px;
}

.p1-clr {
  color: var(--p1-clr);
}

.p1-bg {
  background: var(--p1-clr);
}

.d-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
}

.header-top-section {
  position: relative;
  background: var(--bg-color);
  padding: 10px 0;
}
.header-top-section .sub-header-wrapper .call-icon {
  font-size: 13px;
  color: var(--black-clr);
  font-weight: 500;
}
.header-top-section .sub-header-wrapper .call-icon i {
  color: var(--theme-clr);
}
.header-top-section .sub-header-wrapper .right-top-cont {
  gap: 20px;
}
.header-top-section .sub-header-wrapper .right-top-cont .nice-select {
  padding-right: 16px;
}
.header-top-section .sub-header-wrapper .right-top-cont .nice-select .current {
  color: var(--black-clr);
  font-weight: 500;
  font-size: 14px;
}
.header-top-section .sub-header-wrapper .right-top-cont .nice-select::after {
  border-bottom: 2px solid var(--icon-clr);
  border-right: 2px solid var(--icon-clr);
}
.header-top-section .sub-header-wrapper .right-top-cont .nice-select .list {
  width: 130px;
}
.header-top-section .sub-header-wrapper .right-top-cont .seller-text {
  font-size: 14px;
  font-weight: 500;
  color: var(--black-clr);
}
@media (max-width: 575px) {
  .header-top-section .sub-header-wrapper {
    flex-wrap: wrap;
    justify-content: center !important;
  }
  .header-top-section .sub-header-wrapper .right-top-cont {
    gap: 16px;
  }
}

.search-header-section {
  padding: 10px 0;
}
.search-header-section .search-header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-header-section .search-header-wrap .search-box {
  width: 550px;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid rgba(185, 185, 185, 0.3);
  background: var(--white-clr);
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 14px;
}
.search-header-section .search-header-wrap .search-box form {
  width: 100%;
  display: flex;
  align-items: center;
}
.search-header-section .search-header-wrap .search-box form input {
  width: 100%;
  height: 45px;
  font-size: 14px;
  color: var(--paragraph-clr);
  border: unset;
  padding: 8px;
}
.search-header-section .search-header-wrap .search-box form ::placeholder {
  color: var(--paragraph-clr);
}
.search-header-section .search-header-wrap .search-box form button {
  height: 45px;
  width: 64px;
  border-radius: unset;
  background: var(--theme-clr);
  overflow: hidden;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.search-header-section .search-header-wrap .search-box form button i {
  color: var(--white-clr);
}
.search-header-section .search-header-wrap .search-box .search-category {
  border-right: 0.5px solid #b9b9b9;
  padding-right: 12px;
}
.search-header-section .search-header-wrap .search-box .search-category i {
  color: var(--paragraph-clr);
}
.search-header-section .search-header-wrap .search-box .search-category .nice-select {
  padding-right: 13px;
}
.search-header-section .search-header-wrap .search-box .search-category .nice-select .list {
  width: 230px;
  max-height: initial;
}
.search-header-section .search-header-wrap .search-box .search-category .nice-select .list li {
  padding: 8px 11px;
}
.search-header-section .search-header-wrap .search-box .search-category .nice-select .current {
  opacity: 1;
  color: var(--paragraph-clr);
  font-size: 14px;
}
.search-header-section .search-header-wrap .search-box .search-category .nice-select::after {
  right: 0;
  border-bottom: 2px solid var(--paragraph-clr);
  border-right: 2px solid var(--paragraph-clr);
}

.header-section {
  border-top: 1px solid rgba(185, 185, 185, 0.4);
  border-bottom: 1px solid rgba(185, 185, 185, 0.4);
  background: var(--white-clr);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.02);
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-wrapper .sixvalley-category-adjust {
  background: var(--theme-clr);
  padding: 19px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-wrapper .sixvalley-category-adjust i {
  color: var(--white-clr);
}
.header-wrapper .sixvalley-category-adjust .nice-select {
  padding-right: 30px;
}
.header-wrapper .sixvalley-category-adjust .nice-select .list {
  width: 250px;
  max-height: initial;
}
.header-wrapper .sixvalley-category-adjust .nice-select .list li {
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 14px;
  border-bottom: unset;
}
.header-wrapper .sixvalley-category-adjust .nice-select .current {
  text-transform: uppercase;
  font-size: 13px;
  color: var(--white-clr);
}
.header-wrapper .sixvalley-category-adjust .nice-select::after {
  top: 13px;
  border-bottom: 2px solid var(--white-clr);
  border-right: 2px solid var(--white-clr);
}
.header-wrapper .main-menu {
  display: grid;
  gap: 10px;
}
.header-wrapper .main-menu li .sub-menu {
  background: var(--white-clr);
  border-radius: 10px;
  padding: 12px;
  z-index: 9;
  width: 200px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.header-wrapper .main-menu li .sub-menu li a {
  font-size: 12px;
  font-weight: 500;
  color: var(--black-clr);
  padding: 7px 0;
  display: block;
}
.header-wrapper .main-menu li .sub-menu li a:hover {
  padding-left: 4px;
  color: var(--theme-clr);
}
.header-wrapper .main-menu li .sub-menu li:not(:last-child) {
  border-bottom: 1px solid rgba(185, 185, 185, 0.3);
}
@media (min-width: 1200px) {
  .header-wrapper .main-menu li .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--white-clr);
    border-radius: 10px;
    padding: 12px;
    z-index: 9;
    width: 200px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  .header-wrapper .main-menu li .sub-menu li a {
    font-size: 12px;
    font-weight: 500;
    color: var(--black-clr);
    padding: 7px 0;
    display: block;
  }
  .header-wrapper .main-menu li .sub-menu li a:hover {
    padding-left: 4px;
    color: var(--theme-clr);
  }
  .header-wrapper .main-menu li .sub-menu li:not(:last-child) {
    border-bottom: 1px solid rgba(185, 185, 185, 0.3);
  }
  .header-wrapper .main-menu li a {
    font-size: 13px;
    font-weight: 600;
    color: var(--black-clr);
    text-transform: uppercase;
    transition: all 0.4s;
  }
  .header-wrapper .main-menu li a:hover {
    color: var(--theme-clr);
  }
  .header-wrapper .main-menu li:hover .sub-menu {
    transform: translateY(0) !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
}
.header-wrapper .login-shopping-area {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header-wrapper .login-shopping-area li .register {
  font-size: 12px;
  font-weight: 500;
  color: var(--black-clr);
  text-transform: uppercase;
}
.header-wrapper .login-shopping-area li .register i {
  color: var(--paragraph-clr);
  font-size: 17px;
}
.header-wrapper .login-shopping-area li a {
  position: relative;
}
.header-wrapper .login-shopping-area li a .counts {
  width: 15px;
  min-width: 15px;
  height: 15px;
  color: var(--white-clr);
  background: var(--theme-clr);
  font-size: 10px;
  position: absolute;
  right: -7px;
  top: -7px;
}
.header-wrapper .login-shopping-area .line {
  height: 22px;
  width: 1px;
  background: rgba(185, 185, 185, 0.5);
}
@media (max-width: 767px) {
  .header-wrapper .login-shopping-area {
    gap: 10px;
  }
}
@media (min-width: 1200px) {
  .header-wrapper .main-menu {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .header-wrapper .main-menu li a {
    font-size: 13px;
    font-weight: 600;
    color: var(--black-clr);
    text-transform: uppercase;
  }
}
@media (max-width: 1199px) {
  .header-wrapper .main-menu {
    background: var(--white-clr);
    padding: 24px 28px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 100%;
    height: 100vh;
    overflow-y: scroll;
    position: fixed;
    left: -290px;
    transition: all 0.5s;
    top: 0;
    flex-direction: column;
    gap: 12px;
    display: flex;
    width: 280px;
    z-index: 999;
  }
  .header-wrapper .main-menu li a {
    color: var(--black-clr);
    font-weight: 600;
  }
  .header-wrapper .main-menu li .sub-menu {
    display: none;
  }
  .header-wrapper .main-menu.active {
    left: 0;
  }
  .header-wrapper .login-shopping-area {
    gap: 16px;
  }
  .header-wrapper .login-shopping-area li .register {
    font-size: 12px;
    font-weight: 500;
    color: var(--black-clr);
    text-transform: uppercase;
  }
  .header-wrapper .login-shopping-area li .register i {
    color: var(--paragraph-clr);
    font-size: 17px;
  }
  .header-wrapper .login-shopping-area li a {
    position: relative;
  }
  .header-wrapper .login-shopping-area li a .counts {
    width: 13px;
    min-width: 13px;
    height: 15px;
    font-size: 8px;
    right: -7px;
    top: -7px;
  }
  .header-wrapper .browse-category .logo {
    max-width: 120px;
    display: block;
  }
  .header-wrapper .browse-category .logo img {
    width: 100%;
    object-fit: contain;
  }
  .header-wrapper .bar-toggle i {
    font-size: 24px;
  }
}
@media (max-width: 575px) {
  .header-wrapper .login-shopping-area {
    gap: 12px;
  }
  .header-wrapper .login-shopping-area li .register {
    font-size: 12px;
    font-weight: 500;
    color: var(--black-clr);
    text-transform: uppercase;
  }
  .header-wrapper .login-shopping-area li .register i {
    color: var(--paragraph-clr);
    font-size: 17px;
  }
  .header-wrapper .login-shopping-area li a {
    position: relative;
  }
  .header-wrapper .login-shopping-area li a .counts {
    width: 13px;
    min-width: 13px;
    height: 15px;
    font-size: 8px;
    right: -7px;
    top: -7px;
  }
  .header-wrapper .login-shopping-area .line {
    display: none;
  }
  .header-wrapper .browse-category .logo {
    max-width: 120px;
    display: block;
  }
  .header-wrapper .browse-category .logo img {
    width: 100%;
    object-fit: contain;
  }
  .header-wrapper .bar-toggle i {
    font-size: 24px;
  }
}

.bar-toggle i {
  font-size: 20px;
  color: var(--black-clr);
}

.sticky {
  position: fixed !important;
  top: 0 !important;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.9s;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--theme-clr);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--theme-clr);
  border-radius: 10px;
}

.nice-select {
  background-color: transparent;
  border: transparent;
  float: initial;
  overflow: initial;
  height: initial;
  padding: 0;
  display: inline-flex;
  align-items: center;
  line-height: 150%;
  width: 100%;
  border: none;
}
.nice-select:focus, .nice-select:hover {
  border-color: transparent;
}
.nice-select::after {
  height: 8px;
  width: 8px;
  right: 0;
  top: 13px;
  border-color: var(--black-clr);
  border-bottom: 2px solid var(--black-clr);
  border-right: 2px solid var(--black-clr);
}
.nice-select .list {
  width: initial;
  background-color: #fff;
  box-shadow: none;
  overflow: initial;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  width: 100%;
  top: 100%;
  padding: 0;
  max-height: 50vh;
  overflow-x: auto;
  left: 0;
}
.nice-select .list::-webkit-scrollbar {
  width: 2px;
  opacity: 1;
  display: block;
}
.nice-select .list::-webkit-scrollbar-button, .nice-select .list::-webkit-scrollbar-thumb {
  background: var(--black-clr);
}
.nice-select .option {
  background-color: transparent;
  font-size: 16px;
  line-height: 150%;
  padding: 4px 5px;
  min-height: initial;
  font-weight: 500;
}
.nice-select .option:hover, .nice-select .option:focus, .nice-select .option.selected.focus {
  background-color: transparent;
}
.nice-select .current {
  font-weight: 500;
  color: var(--black-clr);
}

.hero-wrapper {
  border-radius: 5px;
  background: var(--white-clr);
  gap: 12px;
  padding: 20px;
  box-shadow: 0px 0px 2px 0px rgba(145, 158, 171, 0.2), 0px 10px 20px -3px rgba(145, 158, 171, 0.05);
  display: flex;
}
.hero-wrapper .finding-menu-area {
  width: 255px;
  min-width: 255px;
}
.hero-wrapper .finding-menu-area h6 {
  font-size: 13px;
  font-weight: 800;
  color: var(--black-clr);
  text-transform: uppercase;
  margin-bottom: 18px;
}
.hero-wrapper .finding-menu-area .global-category li {
  position: relative;
}
.hero-wrapper .finding-menu-area .global-category li a {
  padding: 13px 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  color: var(--black-clr);
  transition: all 0.4s;
  border-bottom: 1px solid rgba(185, 185, 185, 0.2);
}
.hero-wrapper .finding-menu-area .global-category li a i {
  color: #4b5864;
  transition: all 0.4s;
}
.hero-wrapper .finding-menu-area .global-category li a:hover {
  color: var(--theme-clr);
}
.hero-wrapper .finding-menu-area .global-category li a:hover i {
  color: var(--theme-clr);
}
.hero-wrapper .finding-menu-area .global-category li .global-sub-cate {
  position: absolute;
  top: 0;
  left: 102%;
  z-index: 9;
  background: var(--white-clr);
  width: 220px;
  transition: all 0.4s;
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.hero-wrapper .finding-menu-area .global-category li .global-sub-cate li a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  color: var(--black-clr);
  transition: all 0.4s;
  padding: 11px 20px;
  display: block;
}
.hero-wrapper .finding-menu-area .global-category li .global-sub-cate li a:not(:last-child) {
  border-bottom: 1px solid var(--paragraph-clr);
}
.hero-wrapper .finding-menu-area .global-category li:hover .global-sub-cate {
  left: 103%;
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}
.hero-wrapper .finding-menu-area .view-more {
  color: var(--theme-clr);
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  display: block;
}
.hero-wrapper .hero-thumb-area .boxes {
  width: 620px;
  border-radius: 4px;
}
.hero-wrapper .hero-thumb-area .boxes .hero-slide-wrap {
  width: 620px;
  border-radius: 4px;
  position: relative;
}
.hero-wrapper .hero-thumb-area .right-side-thumb {
  max-width: 285px;
  height: 471px;
  display: block;
}
.hero-wrapper .hero-thumb-area .right-side-thumb img {
  height: 100%;
  width: 100%;
}
.hero-wrapper .hero-thumb-area .hero-common-thumb img {
  transition: all 0.5s;
}
.hero-wrapper .hero-thumb-area .hero-common-thumb:hover img {
  transform: scale(1.05);
}
@media (max-width: 1199px) {
  .hero-wrapper .hero-thumb-area .boxes {
    max-width: 780px;
    width: 100%;
  }
  .hero-wrapper .hero-thumb-area .boxes .hero-slide-wrap {
    max-width: 100%;
    width: 100%;
  }
  .hero-wrapper .hero-thumb-area .right-side-thumb {
    max-width: 300px;
    width: 100%;
    height: 100%;
  }
  .hero-wrapper .hero-thumb-area .right-side-thumb img {
    object-fit: cover;
  }
}
@media screen and (max-width: 1100px) {
  .hero-wrapper .hero-thumb-area .boxes {
    max-width: 700px;
    width: 100%;
  }
  .hero-wrapper .hero-thumb-area .boxes .hero-slide-wrap {
    max-width: 100%;
    width: 100%;
  }
  .hero-wrapper .hero-thumb-area .right-side-thumb {
    max-width: 300px;
    width: 100%;
    height: 100%;
  }
  .hero-wrapper .hero-thumb-area .right-side-thumb img {
    object-fit: cover;
  }
}
@media (max-width: 991px) {
  .hero-wrapper {
    padding: 10px;
    display: initial !important;
    height: 100%;
  }
  .hero-wrapper .hero-thumb-area .boxes {
    width: 100%;
    max-width: 70%;
  }
  .hero-wrapper .hero-thumb-area .boxes .hero-slide-wrap {
    width: 100%;
  }
  .hero-wrapper .hero-thumb-area .right-side-thumb {
    max-width: 100%;
    width: 100%;
    height: initial !important;
  }
  .hero-wrapper .hero-thumb-area .right-side-thumb img {
    object-fit: cover;
    height: 100%;
  }
}
@media (max-width: 575px) {
  .hero-wrapper .hero-thumb-area .boxes {
    width: 100%;
    max-width: 100%;
  }
  .hero-wrapper .hero-thumb-area .boxes .hero-slide-wrap {
    width: 100%;
  }
}

.swiper-pagination-bullet {
  opacity: 1;
  background: var(--white-clr);
}

.swiper-pagination-bullet-active {
  background: var(--theme-clr);
}

.flash-sale-wrapper {
  border-radius: 5px;
  background: var(--white-clr);
  box-shadow: 0px 5px 12px 3px rgba(2, 91, 195, 0.05);
  padding: 30px 0 30px 40px;
  display: flex;
  align-items: center;
  gap: 60px;
  position: relative;
}
.flash-sale-wrapper .flash-down-area {
  min-width: 250px;
}
.flash-sale-wrapper .flash-down-area h4 {
  color: var(--theme-clr);
  font-weight: 600;
}
.flash-sale-wrapper .flash-down-area span {
  color: var(--paragraph-clr);
}
.flash-sale-wrapper .flash-slide-wrapper {
  position: relative;
}
.flash-sale-wrapper .flash-slide-wrapper .flash-slide-item .thumb {
  width: 100%;
  border: 1px solid rgba(185, 185, 185, 0.2);
  margin-bottom: 10px;
}
.flash-sale-wrapper .flash-slide-wrapper .flash-slide-item .thumb img {
  width: 100%;
}
.flash-sale-wrapper .flash-slide-wrapper .flash-slide-item .thumb .discount {
  background: var(--secondary-clr);
  color: var(--white-clr);
  font-size: 12px;
  font-weight: 800;
  padding: 3px 10px;
}
.flash-sale-wrapper .flash-slide-wrapper .flash-slide-item .thumb .shopping-icon {
  width: 36px;
  height: 36px;
  transition: all 0.4s;
  background: var(--theme-clr);
  transform: scale(0);
}
.flash-sale-wrapper .flash-slide-wrapper .flash-slide-item .thumb .trend {
  width: 53px;
  height: 53px;
  background: var(--theme-clr);
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  padding: 4px 4px 30px 30px;
}
.flash-sale-wrapper .flash-slide-wrapper .flash-slide-item .thumb .trend i {
  color: var(--white-clr);
}
.flash-sale-wrapper .flash-slide-wrapper .flash-slide-item .content .review-icon i {
  color: var(--review-clr);
}
.flash-sale-wrapper .flash-slide-wrapper .flash-slide-item .content .ratting-count {
  color: var(--paragraph-clr);
  font-size: 10px;
}
.flash-sale-wrapper .flash-slide-wrapper .flash-slide-item .content .subs-title {
  font-size: 11px;
  color: var(--paragraph-clr);
}
.flash-sale-wrapper .flash-slide-wrapper .flash-slide-item .content .title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: var(--black-clr);
}
.flash-sale-wrapper .flash-slide-wrapper .flash-slide-item .content del {
  font-size: 14px;
  color: var(--paragraph-clr);
  font-weight: 500;
}
.flash-sale-wrapper .flash-slide-wrapper .flash-slide-item .content .price {
  font-size: 14px;
  font-weight: 800;
  color: var(--theme-clr);
}
.flash-sale-wrapper .flash-slide-wrapper .flash-slide-item #textmore {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.flash-sale-wrapper .flash-slide-wrapper .flash-slide-item #textmore.expanded {
  display: block; /* Remove text limit when expanded */
}
.flash-sale-wrapper .flash-slide-wrapper .flash-slide-item:hover .thumb .shopping-icon {
  transform: scale(1);
}
.flash-sale-wrapper .flash-slide-wrapper .array-next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.flash-sale-wrapper .countdown .time-box {
  text-align: center;
}
.flash-sale-wrapper .countdown .time-box .count-heading {
  width: 50px;
  height: 50px;
  background: var(--countdown-clr);
  font-size: 16px;
  font-weight: 600;
  color: var(--black-clr);
  margin-bottom: 6px;
}
.flash-sale-wrapper .countdown .time-box .label {
  font-size: 14px;
  color: var(--paragraph-clr);
}
@media (max-width: 1199px) {
  .flash-sale-wrapper {
    gap: 24px;
    padding: 24px 0 24px 20px;
  }
}
@media (max-width: 991px) {
  .flash-sale-wrapper {
    flex-wrap: wrap;
    gap: 24px;
    padding: 24px 0 24px 20px;
  }
  .flash-sale-wrapper .flash-down-area {
    min-width: 250px;
    margin: 0 auto;
  }
  .flash-sale-wrapper .flash-down-area h4 {
    color: var(--theme-clr);
    font-weight: 600;
  }
  .flash-sale-wrapper .flash-down-area span {
    color: var(--paragraph-clr);
  }
}

.array-next {
  width: 39px;
  height: 39px;
  min-width: 39px;
  background: var(--theme-clr);
}
.array-next i {
  color: var(--white-clr);
}/*# sourceMappingURL=main.css.map */